body{
    background: linear-gradient(to right, #001b44, #cafd24);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
    overflow: hidden; 
 }
 section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 h2{
    font-family: sans-serif;
    color: white;
 }
 
 .buttons{
    display: flex;
    gap: 10px;
 }
 button{
    padding: 10px 40px;
    margin: 10px;
    border: none;
    border-radius: 50px;
    box-shadow: rgba(255, 255, 255, 0.165);
 }
 #btn1{
    background-color:  #001b44;
    color: white;
 }
 #btn2{
    background-color: #cafd24;
    color: black;
 }
 .copyCode{
    /* backdrop-filter: blur(5px); */
    font-style: italic;
    background-color:rgba(47, 47, 47, 0.339);
    border-left: 3px solid white;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    width: 100%;
    max-width: 500px;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    font-size: 1em
 }